<h1>Anagram Generator</h1>
 
<form action="/" method="post" class="form">
  <label for="word">3 letter words only please!</label><br>
  <input type="text" name="word"><br>
  <input type="submit" value="Show anagrams" class="btn">
</form>
<br>
<% if @error.present? %>
	<i class="icon-warning-sign"><p class='error'><%= "#{@error}" %></p></i> 
<% end %>
